.app-container {
  height: 100vh; /* Ocupará el 100% de la altura de la ventana */
  border-radius: 0.5rem;
  border: 4px solid var(--dark-500);

  display: grid;
  grid-template-rows: auto 1fr;
}

.main-content {
  display: flex;
  flex: 1;
  /* overflow: hidden; */

  display: grid;
  grid-template-columns: auto 1fr;
}
