html, body {
    height: 100%; /* Asegúrate de que el html y el body ocupen el 100% */
    margin: 0; /* Elimina el margen por defecto */
}

.app-container {
    display: flex;
    flex-direction: column; /* Para apilar la barra superior y el contenido principal */
    height: 100vh; /* Ocupará el 100% de la altura de la ventana */
}

.main-content {
    display: flex; /* Para colocar la barra lateral y el flujo uno al lado del otro */
    flex: 1; /* Ocupará el espacio restante después de la barra superior */
    overflow: hidden;
}
