.app-container {
  height: 100vh; /* Ocupará el 100% de la altura de la ventana */
  border-radius: 0.5rem;
  border: 4px solid var(--dark-500);

  display: grid;
  grid-template-rows: auto 1fr;
}

.main-content {
  display: flex; /* Para colocar la barra lateral y el flujo uno al lado del otro */
  flex: 1; /* Ocupará el espacio restante después de la barra superior */
  overflow: hidden;

  display: grid;
  grid-template-columns: auto 1fr;
}
