/* Navbar.css */
.navbar {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 15vh; /* 15% de la altura de la pantalla */
    background-color: white; /* Fondo blanco */
    color: #2d3648; /* Texto negro */
    display: flex; /* Flexbox para organizar los elementos */
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Espacio entre el título y la información del usuario */
    padding: 0 15px; /* Espaciado lateral */
    border: 2px solid #2d3648; /* Borde negro alrededor de todo el componente */
    box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño */
  }

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: auto;
    height: 50px; /* Ajusta la altura según sea necesario */
    max-width: 100%;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

  
  .user-info {
    display: flex; /* Flexbox para organizar la imagen y los detalles */
    align-items: center; /* Centra los elementos verticalmente */
  }
  
  .user-details {
    text-align: right; /* Alinea el texto del usuario a la derecha */
    margin-right: 12px; /* Espacio entre el texto y la imagen */
  }
  
  .user-name {
    font-weight: bold; /* Nombre del usuario en negrita */
    margin: 0; /* Sin margen adicional */
  }
  
  .user-email {
    margin: 0; /* Sin margen adicional */
    font-size: 0.9rem; /* Tamaño de fuente más pequeño para el email */
  }
  
  .profile-image {
    width: 40px; /* Ancho de la imagen de perfil */
    height: 40px; /* Altura de la imagen de perfil */
    border-radius: 50%; /* Hace la imagen circular */
    border: 1px  #DFE2EB; /* Borde negro alrededor de la imagen */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción */
  }
  